* {
    margin: 0;
    padding: 0;
    font-family: "Ebrima", Times, serif;-family: 
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(211, 211, 211);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 20px
}

.grid {
    display: flex;
    border: 1px black solid;
    flex: 1;
    background-color: rgb(255, 255, 255);
}

.gridRow {
    display: flex;
    flex:1;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 600px;
    width: 600px;
    align-self: center;
    justify-self: center;
    
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 1px solid black;
    width: 130px;
}

.container {
    display: flex;
    margin: auto;
    gap: 40px;
    padding-left: 20%;
    padding-top: 20px;
}

#clearButton {
    background-color: rgb(187, 0, 0);
    font-size: 30px;
    padding: 3px 18px;
    border-radius: 10px;
}

.stepTool {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stepButtonContainer {
    display: flex;
    gap: 10px;
}

.stepButton {
    border-radius: 5px;
    height: 22px;
    width: 34px;
}

.stepAmount {
    display: flex;
    height: 30px;
    width: 82px;
    background-color: rgb(0, 0, 0);
    margin-top: 4px;
    color: #FFF;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 23px;
}

.toolButton {
    border-radius: 5px;
    height: 34px;
    width: 34px;
}

.gridControlContainer {
    display: flex;
    gap: 5px;
}

.settingsContainer {
    display: flex;
    flex-direction: ;
}

.toolContainer {
    display: flex;
    gap: 10px;
}

.toolButtonActive {
    border: 1px solid red;
}

#pen {
    border: 1px solid black;
    font-size: 20px;
    padding: 2px 4px;
    border-radius: 5px;
    width: 90px;
    text-align: center;

}

.penContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.penUp {
    background-color: rgb(187, 0, 0);
    color: #FFF;
}

.penDown {
    background-color: #FFF;
}